{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>Dashboard</h1>
    <p class="important">
      Welcome
    </p>
    


  



    <div class="container mt-5">
        <!-- Výpis poslední naměřené hodnoty s časem zápisu -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Poslední naměřená hodnota</h5>
                <p class="card-text">Teplota: {{ data[0].temp }} &deg;C</p>
                <p class="card-text">Čas zápisu: {{ data[0].timestamp }}</p>
            </div>
        </div>

        <form action="/dashboard" method="get">
            <label for="num_entries">Pocet posledních naměřených hodnot</label>
            <select id="num_entries" name="num_entries">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
            <button type="submit">Vypis</button>
        </form>



    <form action="/delete_entries" method="post">
        <label for="num_to_delete">Delete Y oldest entries:</label>
        <input type="number" id="num_to_delete" name="num_to_delete" min="1" max="{{ data|length }}" value="1">
        <button type="submit">Delete</button>
    </form>

   


      
        

        <div class="mt-4">
            <h5>Tabulka {{ data|length }} posledních naměřených hodnot</h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Teplota (&deg;C)</th>
                        <th>Čas zápisu</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in data  %}
                        <tr>
                            <td>{{ entry.temp }}</td>
                            <td>{{ entry.timestamp }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


        <div class="container mt-5">
            <img src="data:image/png;base64,{{ plot_base64 }}" alt="Graph">
        </div>

{% endblock %}